    .place{
      position:absolute;
      top:30px;
      right:30px;
      line-height: 10px
    }
    .prog{
      position:absolute;
      top:150px;
      left:550px;
    }
    article{
      font-family:cursive;
      font-size: 25px;
    }